body {
    display: flex;
    flex-direction: column;
}

a:visited {
    color: #FFEBCD;
}

.display-4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #008B8B;
    margin-top: 5%;
}

.media {
    margin: 5%;
    width: 100%;
    max-width: 400px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    border: 5px, solid, #008B8B;
}

.content {
    margin-bottom: 40px;
}

.img-thumbnail {
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px;
}

.footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-top: 20px solid #DCDCDC;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
